
/* loading screen */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

@keyframes animate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes animatxt{
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}
.loading{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #f3f3f3;
  z-index: 1000;
  transition: ease-in-out;
}
.loader{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span{
  position: relative;
  width: 200px;
  height: 200px;
  background: #f3f3f3;
  border: 6px solid #f3f3f3;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 1), 8px 8px 25px rgb(0,0, 0, 0.15);
  border-radius: 50%;
  overflow: hidden;
}
.loader span::after{
  content: '';
  position: absolute;
  inset: 50px;
  background: #f3f3f3;
  border-radius: 50%;
  box-shadow: 8px 8px 25px rgb(0,0, 0, 0.15);
  inset: -1px -1px 15px rgba(255, 255, 255, 1);
  border: 2px solid #f3f3f3;
}
.loader span i{
  position: absolute;
  inset: 0;
  background: linear-gradient(#3F3E43, #f3f3f3);
  /* background: linear-gradient(#1D4B73, #D9D9D9, black); */
  border-radius: 50%;
  filter: blur(5px);
  animation: animate 2s linear infinite;
}
.text-load{
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  animation: animatxt 25s linear infinite;
}
.text-load b{
  left: 50%;
  position: absolute;
  display: block;
  transform-origin: 0 150px;
  font-weight: normal;
  font-size: 1.4em;
}

::selection {
  background-color: #3F3E43; /* Warna latar belakang saat teks dipilih */
  color: #f3f3f3; /* Warna teks saat dipilih */
}
::-webkit-scrollbar{
  background-color: #F3F3F3;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #3F3E43; 
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
#navigate{
  transition: transform 0.3s ease-in-out;
}
#menu{
  transition: 300ms ease-in-out;
}
body:hover > #trailer{
  opacity: 1;
}
#trailer {
  opacity: 0;
}
#trailer-icon {
  font-size: 8px;
  line-height: 4px;
  
  opacity: 0;
  transition: opacity 400ms ease;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}
.boxanimate::before {
  content: '';
  background: #3F3E43;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.boxanimate::after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: -50%;
  height: 200%;
  width: 200%;
  background-color: #f3f3f3;
  border-radius: 35%;
  animation: spinning 5s ease-in-out 0s 1 normal forwards;
  animation-fill-mode: forwards;
  border: none;
}
@keyframes spinning {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(400deg);
  }
}
.target{
  opacity: 1;
  transition: 300ms ease-in;
}
.hovermenu:hover .target{
  margin-bottom: 15px;
}
.hovermenu:hover #navigate{
  scale: 1.2;
}
#navigate{
  transition: 300ms ease-in;
}
/* ==================================================== */
/* box particle */
.boxpart{
  width: 50px;
  height: 50px;
  border: 1px solid #3F3E43;
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 0.7;
}
#wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}
.tile {
  position: relative;
  transition: 500ms ease-in-out;
}
.tile::before{
  transition: 500ms ease-in-out;
  background-color: #3F3E43; 
  content: "";
  position: absolute;
  inset: 0.5px;
}


/* ======================================================== */




/* css */

@font-face {
    font-family: MundialBlack;
    src: url(./../fonts/MundialBlack.otf);
}
.mundiab{
  font-family: MundialBlack;
}
@font-face {
    font-family: MundialDemibold;
    src: url(./../fonts/MundialDemibold.otf);
}
@font-face {
    font-family: MundialThin;
    src: url(./../fonts/MundialThin.otf);
}
@font-face {
    font-family: quicksandLight;
    src: url(./../fonts/Quicksand-Light.woff);
}